##### LOADING DATA ######
# CREDENTIALS_PATH='/home/src/credentials.json'
# FOLDER_ID='XXXXXXXXXXXXX'


##### TRAINING VARIABLES ######
RANDOM_SEED=42
MAX_EVALUATIONS=100


###### NOTION EXPORTING ######
# NOTION_API_TOKEN='XXXXXXXXXXXXXXXX'
# NOTION_DATABASE_ID='XXXXXXXXXXXXXXX'