##### LOADING DATA ######
CREDENTIALS_PATH='/home/src/credentials.json'
FOLDER_ID='XXXXXXXX'

##### TRAINING VARIABLES ######
RANDOM_SEED=42
MAX_EVALUATIONS=100

##### LLM VARIABLES ######
LLM_MODEL="gpt-3.5-turbo"
OPENAI_API_KEY="sk-XXXXX"

### DLT VARIABLES ###
DESTINATION__LANCEDB__EMBEDDING_MODEL_PROVIDER="sentence-transformers"
DESTINATION__LANCEDB__EMBEDDING_MODEL="all-MiniLM-L6-v2"
DESTINATION__LANCEDB__CREDENTIALS__URI=".lancedb"


###### NOTION EXPORTING ######
NOTION_API_TOKEN='XXXXXXXXXXXXXXXXX'
NOTION_DATABASE_ID='XXXXXXXXXXXXXXXXX'