##### LOADING DATA ######
CREDENTIALS_PATH='/home/src/credentials.json'
FOLDER_ID='XXXXXXXXXXXXX'


##### TRAINING VARIABLES ######
RANDOM_SEED
NUMBER_OF_ITERATIONS
DESIRED_ROC_AUC
DESIRED_RECALL


###### NOTION EXPORTING ######
NOTION_API_TOKEN='XXXXXXXXXXXXXXXX'
NOTION_DATABASE_ID='XXXXXXXXXXXXXXX'